---
layout: default
---


<div class="home">

<!--
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
-->

  {%- if site.posts.size > 0 -%}
    <ul class="post-list"><!-- list of all posts -->
      {%- for post in site.posts -%}
      <div class="post-div" width="100%" height="100%">
          <div class="post-link-div">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
              <span class="post-description">{{ post.description }}</span>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
          <div class="post-image-div">
            <img class="post-image" src="{{post.imageSRC}}">
          </div>
        <p><a class="post-link-div-a" href="{{ post.url | relative_url }}">link</a></p>
      </div>
      {%- endfor -%}
    </ul>

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

</div>

<style>
  .post-link-div-a{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
  }
</style>